<p id="notice"><%= notice %></p>

<p>
  <strong>Job title:</strong>
  <%= @contact.job_title %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @contact.display_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
